<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doto 2</title>
    <link rel="icon" href="../assets/image/logo (icon).ico">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/index.css">
    <script src="../assets/js/jquery.js"></script>
</head>
<body>
    <div class="navbar-container">
        <div class="navbar limiter">
            <div class="logo">
                <a href="index.html"><img src="../assets/image/logo.png" alt="Doto 2"></a>
            </div>
            <div class="nav"><a href="heroes.html">Heroes</a></div>
            <div class="nav"><a href="mechanics.html">Game Mechanics</a></div>
            <div class="nav dropdown">
                <a href="merchandises.html">Merchandises</a>
                <div class="dropdown-content">
                    <div class="dropdown-item">
                        <a href="merchandises.html#shirt">- Shirt</a>
                    </div>
                    <div class="dropdown-item">
                        <a href="merchandises.html#mousepad">- Mousepad</a>
                    </div>
                    <div class="dropdown-item">
                        <a href="merchandises.html#other">- Others</a>
                    </div>
                </div>
            </div>
            <div class="click-here">
                <a href="register.html">Register Now</a>
            </div>
        </div>
    </div>
    <div class="content-container">
        <div class="content limiter">
            <div class="home">
                <div class="welcome">
                    <div class="greet">Welcome to <span class="light-red">DOTO 2</span></div>
                    <img src="../assets/image/dota_bg_trans.png">
                    <div class="promote">
                        Over <span class="light-red">11 million</span> players worldwide.
                    </div>
                </div>
                <div class="game-overview">
                    <div class="title">Game Overview</div>
                    <div id="slider-limiter">
                        <div id="slider-container">
                            <img src="../assets/image/gameplay/gameplay1.jpg" alt="Gameplay 1">
                            <img src="../assets/image/gameplay/gameplay2.jpg" alt="Gameplay 2">
                            <img src="../assets/image/gameplay/gameplay3.jpg" alt="Gameplay 3">
                            <img src="../assets/image/gameplay/gameplay4.jpg" alt="Gameplay 4">
                            <img src="../assets/image/gameplay/gameplay5.jpg" alt="Gameplay 5">
                            <img src="../assets/image/gameplay/gameplay6.jpg" alt="Gameplay 6">
                        </div>
                        <button id="next">&rarr;</button>
                        <button id="prev">&larr;</button>
                    </div>
                    
                    <a href="register.html" class="invitation">
                        <div class="invite">
                            Join Now!
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-container">
        <div class="footer limiter">
            &copy; Doto 2 2020
        </div>
    </div>
</body>
</html>
<script src="../assets/js/slider.js"></script>