<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doto 2</title>
    <link rel="icon" href="../assets/image/logo (icon).ico">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/merchandises.css">
    <script src="../assets/js/jquery.js"></script>
</head>
<body>
    <div class="navbar-container">
        <div class="navbar limiter">
            <div class="logo">
                <a href="index.html"><img src="../assets/image/logo.png" alt="Doto 2"></a>
            </div>
            <div class="nav"><a href="heroes.html">Heroes</a></div>
            <div class="nav"><a href="mechanics.html">Game Mechanics</a></div>
            <div class="nav dropdown active">
                <a href="merchandises.html">Merchandises</a>
                <div class="dropdown-content">
                    <div class="dropdown-item">
                        <a href="merchandises.html#shirt">- Shirt</a>
                    </div>
                    <div class="dropdown-item">
                        <a href="merchandises.html#mousepad">- Mousepad</a>
                    </div>
                    <div class="dropdown-item">
                        <a href="merchandises.html#other">- Others</a>
                    </div>
                </div>
            </div>
            <div class="click-here">
                <a href="register.html">Register Now</a>
            </div>
        </div>
    </div>
    <div class="content-container">
        <div class="content limiter">
            <div class="merchandise">
                <div class="title">
                    DOTO 2 MERCHANDISES
                </div>
                <div class="sub-title">
                   Pick your goods and be happy!
                </div>
                <div class="all-merchandise">
                    <div class="collection" id="shirt">
                        <div class="title">
                            Hero Shirt
                        </div>
                        <div class="item-container">
                            <div class="item">
                                <img src="../assets/image/merchandise/shirt_axe.png" alt="Ka' Pax Shirt">
                                <div class="description">
                                    <div class="name">Ka' Pax Shirt</div>
                                    <div class="price">$14.99</div>
                                </div>
                            </div>
                            <div class="item">
                                <img src="../assets/image/merchandise/shirt_invoker.png" alt="Injoker Shirt">
                                <div class="description">
                                    <div class="name">Injoker Shirt</div>
                                    <div class="price">$14.99</div>
                                </div>
                            </div>
                            <div class="item">
                                <img src="../assets/image/merchandise/shirt_juggernaut.png" alt="Masks Shirt">
                                <div class="description">
                                    <div class="name">Masks Shirt</div>
                                    <div class="price">$14.99</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collection" id="mousepad">
                        <div class="title">
                            Hero Mousepad
                        </div>
                        <div class="item-container">
                            <div class="item">
                                <img src="../assets/image/merchandise/mousepad_magnus.png" alt="Horn Mousepad">
                                <div class="description">
                                    <div class="name">Horn Mousepad</div>
                                    <div class="price">$9.99</div>
                                </div>
                            </div>
                            <div class="item">
                                <img src="../assets/image/merchandise/mousepadchibi_luna.png" alt="Antagonist Mousepad">
                                <div class="description">
                                    <div class="name">Antagonist Mousepad</div>
                                    <div class="price">$9.99</div>
                                </div>
                            </div>
                            <div class="item">
                                <img src="../assets/image/merchandise/mousepad_mirana.png" alt="Side C Mousepad">
                                <div class="description">
                                    <div class="name">Side C Mousepad</div>
                                    <div class="price">$9.99</div>
                                </div>
                            </div>
                            <div class="item">
                                <img src="../assets/image/merchandise/mousepadchibi_sven.png" alt="Seven Mousepad">
                                <div class="description">
                                    <div class="name">Seven Mousepad</div>
                                    <div class="price">$9.99</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collection" id="other">
                        <div class="title">
                            Others
                        </div>
                        <div class="item-container">
                            <div class="item">
                                <img src="../assets/image/merchandise/nendorMirana.jpg" alt="Side C Nendoroid">
                                <div class="description">
                                    <div class="name">Side C Nendoroid</div>
                                    <div class="price">$39.99</div>
                                </div>
                            </div>
                            <div class="item">
                                <img src="../assets/image/merchandise/nendoDragonKnight.jpg" alt="Protagonist Nendoroid">
                                <div class="description">
                                    <div class="name">Protagonist Nendoroid</div>
                                    <div class="price">$39.99</div>
                                </div>
                            </div>
                            <div class="item">
                                <img src="../assets/image/merchandise/figma_antiMage.jpg" alt="Andy Mage Figma">
                                <div class="description">
                                    <div class="name">Andy Mage Figma</div>
                                    <div class="price">$39.99</div>
                                </div>
                            </div>
                            <div class="item">
                                <img src="../assets/image/merchandise/figma_lina.jpg" alt="Starfire Figma">
                                <div class="description">
                                    <div class="name">Starfire Figma</div>
                                    <div class="price">$39.99</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-container">
        <div class="footer limiter">
            &copy; Doto 2 2020
        </div>
    </div>
</body>
</html>